ul {
    list-style-type: none;
}

li{
    display:inline;
    padding: 0.8rem;
}
 body {
    background-color: rgba(255, 211, 161, 0.768);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
 }

  a {
    color:rgb(103, 13, 13);
    text-decoration: none;
  }

  a:hover {
    color:rgb(229, 0, 0)
  }
   h1 {
    color:rgb(107, 4, 4)
   }